%h1.text-center Delivery Zone

%h2= @delivery_zone.name

%hr

= link_to("Edit #{@delivery_zone.name}", edit_admin_delivery_zone_path(@delivery_zone.id), class: "btn btn-info text-white")

= link_to("Delete #{@delivery_zone.name}", admin_delivery_zone_path(@delivery_zone.id), method: :delete, class: "btn btn-danger text-white", data: { confirm: "Are you sure you wish to delete?" })

= link_to("All Delivery Zones", admin_delivery_zones_path, class: "float-right")