%h1.text-center Edit Meal

= form_for @meal, url: {:action => "update", :id => @meal}, html: { method: :put } do |f|
  %p
    = f.label :name
    = f.text_field :name, class: 'form-control'
  %p
    = f.submit "Save", class: 'btn btn-primary'
    = link_to("Cancel", admin_restaurant_path(@meal.restaurant), class: "btn btn-default text-black")
